<a href="<%= offer_path(offer, :dist => @dists.first) %>" class="b-item jsItem">
  <div class="b-item__image">
    <%= image_tag offer.image.url(:medium), class: "b-item__img" %>
  </div>
  <!-- /.b-item__image -->
  <div class="b-item__info">
    <div class="b-price">
      <span class="b-price__text"><% if offer.price.present? %><%= offer.try(:price).try(:round) %>р<% end %></span>
      <span class="b-price__space">
        <% if @dists.first < 1000 %>
          <%= @dists.shift %>м
        <% else %>
          <%= trim((@dists.shift/1000.0).round(1)) %>км
        <% end %>
      </span>
    </div>
    <!-- /.b-price -->
    <div class="b-description">
      <div class="b-description__text">
        <%= truncate(offer.desc, :length => 250, :separator => ' ') %>
      </div>
      <!-- /.b-description__text -->
    </div>
    <!-- /.b-description -->
    <div class="b-contact">
      <span class="b-contact__name"><%= offer.name %>,</span>
      <span class="b-contact__phone"><%= offer.phone %></span>
    </div>
    <!-- /.b-contact -->
  </div>
  <!-- /.b-item__info -->
</a>
<!-- /.b-item -->