<div class="b-top-bar jsBar">
  <div class="b-toggle-menu">
    <a href="#" class="b-toggle-menu__button jsOpenNav">
      <svg class="icon icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
  </div>
  <!-- /.b-toggle-menu -->
  <div class="b-search">
    <form action="/offers" class="b-search__form" method="get" id="filter_form">
      <button type="submit" value="" class="b-search__input-submit">
        <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
      </button>
      <input type="search" value="<%= params[:search] %>" placeholder="Поиск" class="b-search__input-text" name="search">
      <div id="category_input" style="display: none">
        <% unless params[:categories].nil? %>
          <% for cat_id in params[:categories] %>
            <input type="number" name="categories[]" value="<%= cat_id %>" />
          <% end %>
        <% end %>
      </div>
    </form>
    <!-- /.b-search__form -->
  </div>
  <!-- /.b-search -->
  <div class="b-add">
    <a href="offers/new" class="b-add__action" data-no-turbolink="true">
      <svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg>
    </a>
  </div>
  <!-- /.b-add -->
</div>
<!-- /.b-top-bar -->
<div class="b-navigation jsNav" style="display:none;">
  <div class="b-navigation__list">
    <div class="b-menu">
      <form class="b-menu__form" action="/offers">
        <div class="b-menu__item">
          <a href="" class="b-menu__link b-menu__link_header jsMenuItem jsMenuItemMain">
            <input type="hidden" name="b-menu__input jsMenuInput">
            Категории
            <svg class="icon icon-checkbox-unchecked"><use xlink:href="#icon-checkbox-unchecked"></use></svg>
            <svg class="icon icon-checkbox-unchecked"><use xlink:href="#icon-checkbox-checked"></use></svg>
          </a>
        </div>
        <% Category.all.order(:name).each do |category| %>

          <div class="b-menu__item">
            <a href="#" class="b-menu__link jsMenuItem <%= if params[:categories].try(:include?, category.id.to_s) then 'is-checked' else '' end %>">
              <input type="hidden" category="<%= category.id %>" value="<%= if params[:categories].try(:include?, category.id.to_s) then 1 else 0 end %>">
              <%= category.name %>
              <svg class="icon icon-checkbox-unchecked"><use xlink:href="#icon-checkbox-unchecked"></use></svg>
              <svg class="icon icon-checkbox-unchecked"><use xlink:href="#icon-checkbox-checked"></use></svg>
            </a>
          </div>
          <!-- /.b-menu__item -->
        <% end %>

        <button type="submit" class="b-menu__input-submit" id="categorySubmit">Применить фильтр</button>
      </form>
    </div>
    <!-- /.b-menu -->
  </div>
  <!-- /.b-navigation__list -->
</div>
<!-- /.b-navigation jsNav -->